{:kotoba.app/id "cloud.itonami.isic-1512", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie6l7pdo47vruo36draykgirm2ymefiqw2m3f3ckd4yniaepnlnqq", :kotoba.app/embed-url "ipfs://bafkreie6l7pdo47vruo36draykgirm2ymefiqw2m3f3ckd4yniaepnlnqq", :published {:archive "https://kotobase.net/ipfs/bafkreie6l7pdo47vruo36draykgirm2ymefiqw2m3f3ckd4yniaepnlnqq", :size 72685, :put-status 201, :get-status 200, :at "2026-08-15T13:51:56.329Z"}}
